html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  color: whitesmoke;
  font-family: "montserrat", sans-serif;
  /* font-weight: 700; */
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Body config */
body {
  margin: 0;
  overflow-x: hidden;
  /* Background Image w/ parallax effect */
  background-image: url("../images/WooFFTEbw.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 100px);
  background-size: minmax(auto);
  line-height: 1.5rem;
}

/* Header */
.v-header {
  height: 80vh;
  align-items: center;
  color: #fff;
  z-index: -1;
}

.cont {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "navbar"
    "intro";
  /* grid-template-rows: 2fr 2fr auto; */
  /* max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto; */
  /* text-align: center; */
}

/* .fullscreen-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.fullscreen-image-wrap img {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
} */

/* Menu Bar */
.menu-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  /* position: fixed;
  top: 0;
  left: 0; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 30;
  padding: 20px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-item {
  padding: 10px;
}

/* Introduction */

.intro {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  justify-items: center;
  align-items: center;
  /* align-content: center; */
  margin: 0 10px;
}

.intro div {
  display: grid;
  align-items: center;
}

.creative {
  display: grid;
  justify-items: center;
  padding: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-weight: 500;
  font-size: 30px;
}

/* Container with Skills */
#mini-resume {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  padding: 5% 5%;
}

#mini-resume svg {
  width: 20%;
  margin: 10px;
}

/* Container with Portfolio */
.container {
  margin-top: 30px;
}

#portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.card-img {
  display: block;
  height: 250px;
  width: 100%;
}

.svg-rcfit {
  background: rgb(100, 30, 212);
  z-index: 10;
}

.svg-burger {
  background: whitesmoke;
}

#mongodb {
  height: 2%;
  width: 5%;
}

button {
  color: white;
}

iframe {
  border: white solid;
}
