footer {
  background: #1b1b1b;
  padding: 40px;
  text-align: center;
  border-top: solid #4aaaa5 4px;
  position: sticky;
  margin-top: 140px;
  color: white;
}

.mm-bar {
  z-index: -4;
}

.desc1 {
  position: relative;
  bottom: 270px;
  background: rgba(204, 204, 204, 0.4);
}

.desc2 {
  position: relative;
  bottom: 140px;
  background: rgba(204, 204, 204, 0.4);
}

.desc3 {
  position: relative;
  bottom: 110px;
  background: rgba(204, 204, 204, 0.4);
}

div.gallery {
  margin: 20px;
  border: 1px solid #cccccc;
  font-family: "lato", "arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  float: left;
  contain: content;
  width: 400px;
  height: 200px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

#wm {
  position: relative;
  top: -100px;
}

body {
  background: #1b1b1b;
  color: whitesmoke;
}
